.btn {
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.3461rem 1rem;
}

.primaryBtn {
  background-color: #f05d23;
  color: white;
  border: none;
}

.secondaryBtn {
  border: 1px solid #f05d23;
}
