.header {
  display: flex;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
}

.registerBtn {
  margin-right: 0.25rem;
}

.signinBtn {
  margin-left: 0.25rem;
}
